{% extends './base.html' %}
{% block body  %}
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playball&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="/lib/animate/animate.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="/static/base/css/fonts.css" rel="stylesheet">
        <link href="/static/base/css/testi.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

  <!-- *******  Owl Carousel Links  ******* -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
  <link rel="stylesheet" href="/icomoon/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css_copy/bootstrap.min.css">
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css_copy/style.css">





    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">


<style>
    .nav-back{
        background:transparent;
    }
    body{
        background-color:rgb(22, 28, 56);

    }
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}





::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}




.cont {
  max-width: 124rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 30rem;
  }
}

.tranding-slide {
  width: 24rem;
  height: 30rem;
  position: relative;
}


@media (max-width:500px) {
  .tranding-slide {
    width: 20rem !important;
    height: 30rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 23rem !important;
    height: 10rem !important;
    border:2px solid yellow;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 26rem;
  height: 28rem;
  border-radius: 2rem;
  object-fit: cover;
  border:2px;
  box-shadow: 6px 6px 6px black;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
#tranding .tranding-slider {
    height: 38rem;}

h3{
  margin-bottom:3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h2{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.top-text{
  position:absolute;
  top:100px;
  left:20px;
  color:yellow;
}

.ab{
  width:100%;text-align:center;
}
.abc{
  margin-right:14%;font-weight:500
}

h2{
  font-family:my;
}
#hov-img-2{
  display:none;
}
.hov-me:hover #hov-img-1{
  display:none;
}
.hov-me:hover #hov-img-2{
  display:block;
}
.card-shadow{
  border:1px solid white;filter: drop-shadow(4px 4px 4px white);
}
</style>
<!-- Google Web Fonts -->



<div class="top-text" style="width:98%;text-align:center;box-sizing:border-box;font-family:my-family;">
  <p style="color: #FFA500;color:#FFA500;font-family:'my-family';font-size:38px">Extraordinary Benefits of the Epsilon Program!</p>
</div>



<section id="tranding" style="margin-top:20px;">
    <div class="cont" style="width:90%">
      <div class="swiper tranding-slider">          
        <div class="swiper-wrapper">
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              <img src='https://www.gtabase.com/images/gta-5/gangs/epsilon-cult.jpg' alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <h1 class="food-price"></h1>
              <div class="tranding-slide-content-bottom ab">
                
                <h2 class="food-name abc" style="font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;background-color:lightgreen;border-radius:10px;width:196px;margin-left:16%;border:1px solid black">
                  JOIN US
                </h2>
                <h3 class="food-rating" id="">
                 
                </h3>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img" style="height:200px">
              <img src="https://images.unsplash.com/photo-1611629154254-f601125d8417?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8a2FybWF8ZW58MHx8MHx8fDA%3D" alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <div class="tranding-slide-content-bottom" style="width:100%;text-align:center;background">
                <h2 class="food-name abc" style="font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;border-radius:10px;width:220px;margin-left:16%;color:white">
                  Enlightnment
                </h2>
                <h3 class="food-rating">

                </h3>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              <img src="https://t3.ftcdn.net/jpg/00/49/30/90/360_F_49309089_1XZWcKeTNpuJ9ZlN3qq6LIhx6cwUvNdm.jpg" alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <div class="tranding-slide-content-bottom" style="width:100%;text-align:center">
                <h2 class="food-name abc" style="font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;border-radius:10px;width:220px;margin-left:16%;color:black">
                  Stress Releaf
                </h2>
                <h3 class="food-rating">
                  
                </h3>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              {% comment %} <img src="https://fly.storage.tigris.dev/pai-images/be5b6b8e1a1247118d61ba76ab9548d9.jpeg" alt="Tranding"> {% endcomment %}
              <img src="https://cdn.pixabay.com/photo/2017/11/02/20/24/depression-2912404_640.jpg" alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <h1 class="food-price"></h1>
              <div class="tranding-slide-content-bottom ab">
                <h2 class="food-name abc" style="font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;border-radius:10px;width:220px;margin-left:16%;color:white">
                Anger Reduction
                </h2>
                <h3 class="food-rating">
                  
                </h3>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              {% comment %} <img src="https://t3.ftcdn.net/jpg/06/40/44/00/360_F_640440010_K1ReooQZlwVfy2HefHC5Fd8TjxcPrsLi.jpg" alt="Tranding"> {% endcomment %}
              <img src="https://media.istockphoto.com/id/157644612/photo/model-brain-with-headlines-on-mental-health.jpg?s=612x612&w=0&k=20&c=__wl2JtTkJ0YihB9CZ0VdVjqZI6kf2bDIo96csuNrHo=" alt="Tranding">
            </div>
            <div class="tranding-slide-content">
              <h1 class="food-price"></h1>
              <div class="tranding-slide-content-bottom ab">
                
                <h2 class="food-name abc" style="font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-style: normal;border-radius:10px;width:220px;margin-left:16%;color:black">
                    Mental Sharpness
                </h2>
                <h3 class="food-rating">
                  
                </h3>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              {% comment %} <img src="https://e0.pxfuel.com/wallpapers/510/322/desktop-wallpaper-consciousness-art-spiritual-consciousness-thumbnail.jpg" alt="Tranding"> {% endcomment %}
              <img src="https://e1.pxfuel.com/desktop-wallpaper/314/630/desktop-wallpaper-smoke-girl-smoker-girl-thumbnail.jpg" alt="Tranding">
              {% comment %} <img src="https://w0.peakpx.com/wallpaper/721/320/HD-wallpaper-scary-black-dark-horror-teeth-yellow-eyes.jpg" alt="Tranding"> {% endcomment %}
            </div>
            <div class="tranding-slide-content">
              <h1 class="food-price"></h1>
              <div class="tranding-slide-content-bottom ab">
                
                <h2 class="food-name abc" style="font-family: 'Poppins', sans-serif;
                      font-weight: 500;
                      font-style: normal;border-radius:10px;width:220px;margin-left:16%;color:white">
                      Detoxify
                </h2>
                <h3 class="food-rating">
                  
                </h3>
              </div>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <!-- Slide-end -->
        </div>

        <div class="tranding-slider-control">
          <div class="swiper-button-prev slider-arrow">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </div>
          <div class="swiper-button-next slider-arrow" id="next-button">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div>
</section>

















      <!-- Service Start -->
      <div class="container-fluid service py-6" style="width:80%">
          <div class="container">
              
              <div class="row g-4">
                  <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp hov-me"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                      <div class="bg-light rounded service-item " style="border:2px solid #161c38;filter: drop-shadow(2px 2px 8px #d4a762);">
                          <div class="service-content d-flex align-items-center justify-content-center p-4">
                              <div class="service-content-icon text-center">
                                  <div class="img-cont" style="height:130px;margin-bottom:20px;display:flex;justify-content:center;align-item:center;width:100%">
                                    <img id="hov-img-1" src="/static/about/img/yoga (1).png" style="width:130px; transition: display 0.3s ease-in-out;">
                                    <img id="hov-img-2" src="/static/about/img/yoga.png" style="width:130px;transition: display 0.3s ease-in-out;">
                                  </div>
                                  <h4 class="mb-3">Enlightenment</h4>
                                  <p class="mb-4">Our Karma program offers a transformative journey towards enlightenment.</p>
                                  <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp hov-me"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <div class="bg-light rounded service-item " style="border:2px solid #161c38;filter: drop-shadow(2px 2px 8px #d4a762);">
                        <div class="service-content d-flex align-items-center justify-content-center p-4">
                            <div class="service-content-icon text-center">
                                <div class="img-cont" style="height:130px;margin-bottom:20px;display:flex;justify-content:center;align-item:center;width:100%">
                                  <img id="hov-img-1" src="/static/about/img/anger (3).png" style="width:130px; transition: opacity 0.3s ease-in-out;">
                                  <img id="hov-img-2" src="/static/about/img/anger (2).png" style="width:130px;transition: opacity 0.3s ease-in-out;">
                                </div>
                                <h4 class="mb-3">Anger Reduction</h4>
                                <p class="mb-4">We help you reduce anger by promoting mindfulness and self-awareness</p>
                                <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                            </div>
                        </div>
                    </div>
                  </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp hov-me"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                      <div class="bg-light rounded service-item " style="border:2px solid #161c38;filter: drop-shadow(2px 2px 8px #d4a762);">
                          <div class="service-content d-flex align-items-center justify-content-center p-4">
                              <div class="service-content-icon text-center">
                                  <div class="img-cont" style="height:130px;margin-bottom:20px;display:flex;justify-content:center;align-item:center;width:100%">
                                    <img id="hov-img-1" src="/static/about/img/namaste (1).png" style="width:130px; transition: display 0.3s ease-in-out;">
                                    <img id="hov-img-2" src="/static/about/img/namaste.png" style="width:130px;transition: display 0.3s ease-in-out;">
                                  </div>
                                  <h4 class="mb-3">Spirituality</h4>
                                  <p class="mb-4">We guides you on a path to spiritual growth by fostering mindfulness and compassion</p>
                                  <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp hov-me"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <div class="bg-light rounded service-item " style="border:2px solid #161c38;filter: drop-shadow(2px 2px 8px #d4a762);">
                        <div class="service-content d-flex align-items-center justify-content-center p-4">
                            <div class="service-content-icon text-center">
                                <div class="img-cont" style="height:130px;margin-bottom:20px;display:flex;justify-content:center;align-item:center;width:100%">
                                  <img id="hov-img-1" src="/static/about/img/philosophy (1).png" style="width:130px; transition: display 0.3s ease-in-out;">
                                  <img id="hov-img-2" src="/static/about/img/philosophy.png" style="width:130px;transition: display 0.3s ease-in-out;">
                                </div>
                                <h4 class="mb-3">Mental Peace</h4>
                                <p class="mb-4">We help you achieve mental peace by fostering positive thoughts and actions. </p>
                                <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp hov-me"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                  <div class="bg-light rounded service-item " style="border:2px solid #161c38;filter: drop-shadow(2px 2px 8px #d4a762);">
                      <div class="service-content d-flex align-items-center justify-content-center p-4">
                          <div class="service-content-icon text-center">
                              <div class="img-cont" style="height:130px;margin-bottom:20px;display:flex;justify-content:center;align-item:center;width:100%">
                                <img id="hov-img-1" src="/static/about/img/bad-habits (1).png" style="width:130px; transition: display 0.3s ease-in-out;">
                                <img id="hov-img-2" src="/static/about/img/bad-habits.png" style="width:130px;transition: display 0.3s ease-in-out;">
                              </div>
                              <h4 class="mb-3">Bad Habits</h4>
                              <p class="mb-4">We help you overcome bad habits by providing personalized guidance.</p>
                              <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp hov-me"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <div class="bg-light rounded service-item " style="border:2px solid #161c38;filter: drop-shadow(2px 2px 8px #d4a762);">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <div class="img-cont" style="height:130px;margin-bottom:20px;display:flex;justify-content:center;align-item:center;width:100%">
                              <img id="hov-img-1" src="/static/about/img/stress (1).png" style="width:130px; transition: display 0.3s ease-in-out;">
                              <img id="hov-img-2" src="/static/about/img/stress.png" style="width:130px;transition: display 0.3s ease-in-out;">
                            </div>
                            <h4 class="mb-3">Stress Reduction</h4>
                            <p class="mb-4">We help you manage and reduce stress by incorporating mindfulness</p>
                            <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp hov-me"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
              <div class="bg-light rounded service-item " style="border:2px solid #161c38;filter: drop-shadow(2px 2px 8px #d4a762);">
                  <div class="service-content d-flex align-items-center justify-content-center p-4">
                      <div class="service-content-icon text-center">
                          <div class="img-cont" style="height:130px;margin-bottom:20px;display:flex;justify-content:center;align-item:center;width:100%">
                            <img id="hov-img-1" src="/static/about/img/relationship (3).png" style="width:130px; transition: display 0.3s ease-in-out;">
                            <img id="hov-img-2" src="/static/about/img/relationship (2).png" style="width:130px;transition: display 0.3s ease-in-out;">
                          </div>
                          <h4 class="mb-3">Relationships</h4>
                          <p class="mb-4">We enhances your relationships by promoting effective communication</p>
                          <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp hov-me"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <div class="bg-light rounded service-item " style="border:2px solid #161c38;filter: drop-shadow(2px 2px 8px #d4a762);">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <div class="img-cont" style="height:130px;margin-bottom:20px;display:flex;justify-content:center;align-item:center;width:100%">
                          <img id="hov-img-1" src="/static/about/img/goal (1).png" style="width:130px; transition: display 0.3s ease-in-out;">
                          <img id="hov-img-2" src="/static/about/img/goal.png" style="width:130px;transition: display 0.3s ease-in-out;">
                        </div>
                        <h4 class="mb-3">Achieve Goal</h4>
                        <p class="mb-4">We help you achieve your goals by providing personalized guidance</p>
                        <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
                    </div>
                </div>
            </div>
        </div>
              </div>
          </div>
      </div>
      <!-- Service End -->


















      <div class="test-body" style="margin-bottom:50px" data-aos="fade-up"
      data-aos-anchor-placement="top-center">
        <div class="testimonials-section">
        
          <!-- Section Header Starts -->
          <header class="section-header">
            <h1 style=" font-family: 'Merriweather', serif;
            font-weight: 300;
            font-style: normal;">What People Say</h1>
          </header>
          <!-- Section Header Ends -->
        
                  <!-- Owl Carousel Slider Starts -->
        <div class="owl-carousel owl-theme testimonials-container">
          <!-- Item1 Starts -->
          <div class="item testimonial-card" >
            <main class="test-card-body card-shadow" >
              <div class="quote">
                <i class="fa fa-quote-left"></i>
                <h2>A Transformative Experience</h2>
              </div>
              <p>Participating in the Karma Program has been a life-changing experience for me. The knowledge of spirituality imparted by the team has given me a new perspective on life. The events are well-organized, and the cause they support is truly noble,t's a beautiful initiative that combines personal growth.</p>
              <div class="ratings">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </main>
            <div class="profile">
              <div class="profile-image">
                <img src="/static/about/img/image1.jpg">
              </div>
              <div class="profile-desc">
                <span>Harsh Ravrani</span>
                <span>Buisnessman</span>
              </div>
            </div>
          </div>
          <!-- Item1 Ends -->
      
          <!-- Item2 Starts -->
          <div class="item testimonial-card">
            <main class="test-card-body card-shadow">
              <div class="quote">
                <i class="fa fa-quote-left"></i>
                <h2>A Perfect Blend of Learning</h2>
              </div>
              <p>The Karma Program offers a perfect blend of spiritual learning and philanthropy. The sessions are enlightening, and the events are beautifully conducted. It's heartwarming to see the impact of our donations on the children's NGO they support,t's a beautiful initiative that combines personal growth.</p>
              <div class="ratings">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </main>
            <div class="profile">
              <div class="profile-image">
                <img src="/static/about/img/image2.jpg">
              </div>
              <div class="profile-desc">
                <span>Meet Chandpa</span>
                <span>Student</span>
              </div>
            </div>
          </div>
          <!-- Item2 Ends -->
      
      
          <!-- Item6 Starts -->
          {% for item in test %}
          <div class="item testimonial-card">
            <main class="test-card-body card-shadow">
              <div class="quote">
                <i class="fa fa-quote-left"></i>
                <h2>{{item.Testimonial_topic}}</h2>
              </div>
              <p>{{item.testimonial}}</p>
              <div class="ratings">
                {% load custom_filters %} <!-- Load the custom filter -->
                  {% for i in item.rating|generate_range %}
                    <i class="fa-solid fa-star"></i>
                  {% endfor %}
              </div>
            </main>
            <div class="profile">
              <div class="profile-image">
                <img src="/static/about/img/image6.jpg">
              </div>
              <div class="profile-desc">
                <span>{{item.Name}}</span>
                <span>{{item.Occupation}}</span>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Item6 Ends -->
      
        </div>
        <!-- Owl Carousel Slider Ends -->
        
        </div>
      </div>








    







    
    <!-- Copyright End -->








      <!-- Back to Top -->
      <a href="#" class="btn btn-md-square btn-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

      






<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>




    <script>
        document.getElementById('nav-1').classList.remove('doubleactive');
        document.getElementById('nav-2').classList.add('doubleactive');
        var TrandingSlider = new Swiper('.tranding-slider', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            loop: true,
            slidesPerView: 'auto',
            coverflowEffect: {
              rotate: 0,
              stretch: 0,
              depth: 100,
              modifier: 2.5,
            },
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            }
          });

          function clickButton() {
            document.getElementById('next-button').click();
        }

        // Set an interval to click the button every 3 seconds (3000 milliseconds)
        setInterval(clickButton, 3000);
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
          
    

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>

      <script src="/lib/waypoints/waypoints.min.js"></script>
      <script src="/lib/counterup/counterup.min.js"></script>


      <!-- Template Javascript -->
      <script src="/js/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!--   *****   Owl Carousel js Link  *****  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

      <script src="static/base/js/testi.js"></script>

{% endblock body   %}
