<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Start of Async Drift Code -->

  <!-- End of Async Drift Code -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>
      body{
        margin-top:20px;
        background-color: black;
      }


      
      .conta{
        width:90%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:10px;
    }
    .tablee{
        background-color: white;
        border:1px solid black;
        width:100%;
    }
    .tablee-content{
        width:100%;
        background-color: lightgreen;
        border:2px solid green;

    }
    .tablee-content{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .coins{
        display:flex;
        justify-content: center;
        align-items: center;
        width:30%;
    }
    .coins img{
        height:34px;
        margin:10px;
    }
    </style>
    
</head>
<body>
    <div class="container">
        <div class="main-body">
        
              <!-- Breadcrumb -->
              
              <!-- /Breadcrumb -->
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card" style="background-color: #5cb1e7;">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>{{user_profile.name}}</h4>
                          <div class="fle" style="display:flex;width:100%;justify-content:space-between">
                            <a class="btn btn-info " style="background-color: #e77a7a;display:flex;justify-content: center;align-items: center;"target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">

                              <h6 style="display:flex;justify-content: center;align-items: center;margin:4px">
                                <img  src="/static/base/img/Edit (3).png" alt="" srcset="" style="height:26px;margin-right:8px">
                                
                                Edit Profile</h6></a>
                              <a class="btn btn-info " style="background-color: lightgreen;display:flex;justify-content: center;align-items: center;margin-left:10px" href="/">
                                <img  src="/static/base/img/Home (2).png" alt="" srcset="" style="height:30px;margin-right:8px">
                                Home Page</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <div class="col-sm-6 mb-3" style="width:100%">
                      <div class="card h-100">
                        <div class="card-body" style="padding:0px;display:flex;justify-content:center;align-items:center;flex-direction:column">
                          <h6 class="d-flex align-items-center mb-3 width:100%" style="justify-content: center;font-size:18px;margin-top:4px">Recent KARMA Points </h6>
                        {% for point in karma_points %}
                          {% if point.karma_points > 0 %}
                            <div class="conta">
                              <div class="tablee">
                                  <div class="tablee-content">
                                      <div class="coins"><h5 style="margin:0px">+{{point.karma_points}}</h3> <img src="\static\base\images\karma (1).png" alt="" srcset=""></div>
                                      <div class="coins-desc"><h5 style="margin:0px">received by {{point.karma_points_type}}</h3></div>
                                  </div>
                                </div>
                              </div>
                          {% else %}
                          <div class="conta">
                            <div class="tablee">
                                <div class="tablee-content" style="background-color:#ff000087">
                                    <div class="coins"><h5 style="margin:0px">{{point.karma_points}}</h3> <img src="\static\base\images\karma (1).png" alt="" srcset=""></div>
                                    <div class="coins-desc"><h5 style="margin:0px">used for {{point.karma_points_type}}</h3></div>
                                </div>
                              </div>
                            </div>
                        {% endif %}
                      {%endfor%}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{user_profile.name}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                                {{user_profile.email}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{user_profile.mobile}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Current Balance</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{user_profile.Account_Balance}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">membership level</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{user_profile.Membership_license}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Donation Amount</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{user_profile.Total_Donation}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3" style="">
                          <h6 class="mb-0">Karma Points</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{user_profile.KarmaPoints}}
                        </div>
                      </div>
                      <hr>
                      <div class="row" style="display:flex;justify-content: center;align-items: center;width:100%">
                        <div class="col-sm-12" style="display:flex ;    width: 96%;justify-content:space-around" >
                          <a class="btn btn-info " style="background-image: linear-gradient(0deg, rgba(216, 28, 10, 0.3) 0%,rgba(255, 189, 248, 0.3) 100%),linear-gradient(90deg, rgb(208, 18, 218),rgb(197, 126, 179));;display:flex;justify-content: center;align-items: center;" href="/donation">
                            <img  src="/static/base/img/payments_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="" srcset="" style="height:30px;margin-right:8px">
                            DONATE</a>
                            <a class="btn btn-info " style="background-image: linear-gradient(0deg, rgb(113, 136, 223),rgb(17, 213, 207));;display:flex;justify-content: center;align-items: center;"target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">
                              <img  src="/static/base/img/rupee.png" alt="" srcset="" style="height:30px;margin-right:8px">
                              ADD MONEY</a>
                          <a class="btn btn-info " style="background-image: linear-gradient(90deg, rgb(237, 228, 100),rgb(252, 152, 51));;display:flex;justify-content: center;align-items: center" href="/donate_main">
                            <img  src="/static/base/img/leaderboard.png" alt="" srcset="" style="height:30px;margin-right:8px">
                            KARMA LEADERBOARD</a>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="row gutters-sm" style="display:flex;justify-content: center;align-items: center;" >
                    <div class="col-sm-6 mb-3" style="width:100%">
                      <div class="card h-100">
                        <div class="card-body" style="display:flex;flex-direction:column;justify-content:center;align-items:center;background-color:#47BDD5">
                          <h6 class="d-flex align-items-center mb-3" style="justify-content: center;font-size:18px">Recent TRANSACTIONS </h6>
                        {% for transaction in Transactions %}
                        <div class="conta">
                            <div class="tablee" style="display: flex;justify-content: center;align-items: center;border:0px;background-color:#47BDD5">
                                <div class="tablee-content" style="background-color:rgb(233, 141, 141);width:90%;min-width:400px">
                                    <div class="coins"><h5 style="margin:0px">-{{transaction.transaction_amount}}</h3> <img  src="/static/base/img/rupee.png" alt="" srcset="" style="height:26px;margin-right:8px"></div>
                                    <div class="coins-desc"><h5 style="margin:0px">dontated to Karma_Ngo  </h3></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <a class="btn btn-info " style="background-color: lightblue;display:flex;justify-content: center;align-items: center;width:250px"target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">

                          <h6 style="display:flex;justify-content: center;align-items: center;margin:4px;font-size:18px">
                            <img  src="\static\base\images\money-transfer.png" alt="" srcset="" style="height:30px;margin-right:8px">
                            
                            Transaction Detail</h6></a>
                        </div>
                      </div>
                    </div>
                  </div>
    
    
    
                </div>
              </div>
    
            </div>
        </div>

        
</body>
</html>