

{% load static %}

{% block content %}
  <style>
    /* Add CSS styles here */
    .profile {
      display: flex;
      flex-direction: column;
      padding: 16px;
      background-image: linear-gradient(to right, #3b3f54, #727cf5);
    }
    .profile-header {
      font-size: 6rem;
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .profile-details {
      background-color: #fff;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  </style>

  <div class="profile">
    <h1 class="profile-header">User's Profile</h1>
    <div class="profile-details">
      <h2>Profile Details</h2>
      <p>Name: {{ name }} ({{ user }})</p>
      <p>Value: {{ value }} Karma Points</p>
      <p>Rank: {{ rank }} out of {{ total_users }}</p>
    </div>
    <div class="profile-details">
      <h2>Donation History</h2>
      <ul>
        {% for donation in donations %}
          <li>{{ donation.date }} - {{ donation.amount }} Karma Points</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}